---
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="author" content="Mohammad Asad Atterkhan" />
    <meta
      name="description"
      content="Mohammad Asad Atterkhan's personal website"
    />
    <meta
      name="keywords"
      content="Mohammad Asad Atterkhan, ma-asad, maatterkhan, ma-atterkhan, ma asad, ma asad atterkhan, asad atterkhan, asad, atterkhan, ma, asad, atterkhan, ma-asad, maatterkhan, ma-atterkhan"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ma-asad</title>
  </head>
  <body class="bg-gray-900 text-gray-100 min-h-screen flex flex-col">
    <header class="bg-gray-800 text-white p-4">
      <h1 class="text-3xl font-bold">Mohammad Asad Atterkhan</h1>
      <h2 class="text-xl">IT Guy?</h2>
    </header>

    <main class="flex-grow p-4">
      <section class="mb-8">
        <h3 class="text-2xl font-semibold">About Me</h3>
        <p class="mt-2">Hi I like Tech and Cats :3</p>
      </section>

      <section class="mb-8">
        <h3 class="text-2xl font-semibold">Education</h3>
        <p class="mt-2">BSc Computer Science & Systems Engineering</p>
      </section>

      <section class="mb-8">
        <h3 class="text-2xl font-semibold">Projects</h3>
        <p class="mt-2">
          You can find my projects on my GitHub profile: <a
            href="https://github.com/ma-asad"
            class="text-blue-400 underline">ma-asad</a
          >
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-2xl font-semibold">Contact</h3>
        <p class="mt-2">
          Connect with me on LinkedIn: <a
            href="https://www.linkedin.com/in/maatterkhan/"
            class="text-blue-400 underline">maatterkhan</a
          >
        </p>
      </section>
    </main>

    <footer class="bg-gray-800 text-white p-4 text-center">
      <p>&copy; 2024 Mohammad Asad Atterkhan. All rights reserved.</p>
    </footer>
  </body>
</html>
